.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FigtreeSB, sans-serif;
    color: #050247;
}

.movie__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    padding-left: 20px;
}