.button {
    padding: 0px 10px;
	height: 42px;
	border-radius: 6px;
	background-color: rgb(247, 214, 51);
	font-family: FigtreeSB, sans-serif;
	cursor: pointer;
	min-width: 100px;
	overflow: hidden;
	-webkit-box-align: center;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	margin: 8px;
	flex: 1 1 0%;
	color: black;
    position: absolute;
    right: 10px;
    top: 90px;
}
.button:hover {
	cursor: pointer;
}