.user__info {
	display: grid;
	grid-template-columns: 130vh auto;
	width: 210px;
}
.card__profile {
	border: 1px solid black;
	border-radius: 25px;
	width: 70vh;
	height: 65vh;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 70vh;
	top: 15px;
	margin-bottom: 90px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.picture {
	width: 250px;
	position: relative;
	left: 30%;
    border-radius: 20px;
	margin-top: 20px;
}

.card__profile__info {
	border: 1px solid black;
	border-radius: 25px;
	width: 90vh;
	height: 50vh;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 70px;
	right: 20vh;
}
.email {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 10vh;
}
