.box{
    border: 2px solid black;
    border-radius: 20px;
    width: 165vh;
    height: 75vh;
    display:grid;
    grid-template-columns: 75vh auto;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-top: 30px;
}

.image{
    width: 250px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 150px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 100px;
}

.info {
    grid-column: 2/3;
    padding-top: 90px;
    color:rgb(21, 2, 107)
}

.description {
    width: 600px;
    color:rgb(21, 2, 107)
}

